---
# main.yml

- include: packages.yml

- name: Local nagios plugins path
  file:
    path: "{{ nagios.local_plugins_path }}"
    recurse: True
    state: directory

- name: Install local NRPE plugins
  copy:
    dest: "{{ nagios.local_plugins_path }}"
    force: no
    mode: 0755
    src: plugins/

- name: Add NRPE to sudoers
  template:
    dest: /etc/sudoers.d/nrpe
    mode: 0440
    src: nrpe_sudoer.j2
    validate: "/usr/sbin/visudo -cf %s"
  notify: Restart NRPE

- name: Allow from nagios server hosts
  lineinfile:
    dest: "{{ nagios.nrpe_cfg }}"
    line: allowed_hosts={{ ','.join(nagios.allowed_hosts) }}
    regexp: "^allowed_hosts=.*"
  notify: Restart NRPE

- name: Add local nrpe definitions
  template:
    dest: "{{ nagios.nrpe_path }}"
    src: nrpe_command.cfg.j2
  notify: Restart NRPE

- name: Set loglevel to INFO in snmpd
  lineinfile:
    dest: /etc/default/snmpd
    line: >
      SNMPDOPTS='-LS6d -Lf /dev/null -u snmp -g snmp
      -I -smux,mteTrigger,mteTriggerConf -p /run/snmpd.pid'
    regexp: "SNMPDOPTS=.*"
  notify: Restart snmpd

- name: Enable NRPE service
  service:
    name: "{{ nagios.nrpe_service }}"
    enabled: yes
    state: started

- name: Syslog host setup
  template:
    dest: /etc/rsyslog.d/custom.conf
    src: rsyslog-custom.conf.j2
  notify: Restart rsyslogd

- name: Ensure logs are in UTC
  template:
    dest: /etc/systemd/system/rsyslog.service
    src: rsyslog.service.j2
  notify: Restart rsyslogd

- name: Put a leash on journald (default log files are huge)
  template:
    dest: /etc/systemd/journald.conf
    src: journald.conf.j2
  notify: Restart journald

- name: Define tolerated drive errors
  template:
    dest: "{{ nagios.local_plugins_path }}/tolerations.yaml"
    src: tolerations.j2
