body {
  background-color: #99e699;
}
img {
  border-radius: 50%;
}

.column {
  float: left;
  max-width: 100px;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
