apiVersion: v2
name: grafana
description: Grafana metrics visualization and alerting
home: https://github.com/instantlinux/docker-tools
sources:
- https://github.com/instantlinux/docker-tools
- https://github.com/grafana/grafana
type: application
version: 0.1.2
appVersion: 12.4.0
dependencies:
- name: chartlib
  version: 0.1.8
  repository: https://instantlinux.github.io/docker-tools
- name: prometheus
  version: 0.1.2
  repository: file://subcharts/prometheus
  condition: prometheus.enabled
- name: alertmanager
  version: 0.1.0
  repository: file://subcharts/alertmanager
  condition: alertmanager.enabled
