---
grub_timeout: 5

local_group_defaults:
  nagcmd: 486
  nrpe: 552
  users: 100

local_group_additions: {}
local_groups: "{{ local_group_defaults | combine(local_group_additions) }}"

local_user_defaults:
  - name: nrpe
    uid: 2025
    comment: NRPE monitoring
    createhome: no
    group: nrpe
    groups: nagcmd

local_user_additions: []
local_users: "{{ local_user_defaults + local_user_additions }}"

opensuse_google_auth_repo:
  - name: oss
    repo: http://download.opensuse.org/distribution/leap/42.2/repo/oss/suse

pam_package: "{{
    'libpam-google-authenticator' if ansible_os_family == 'Debian' 
    else 'pam-google-authenticator' }}"

ubuntu_repo_uri: http://archive.ubuntu.com/ubuntu/

ubuntu_google_auth_repo:
  - deb {{ ubuntu_repo_uri }} {{ ansible_distribution_release }} main restricted universe multiverse
