auto {{ network.bridge }}
iface {{ network.bridge }} inet {{ network_mode }}
{% if network_mode == 'static' %}
 address {{ network.address }}
 netmask {{ network.netmask }}
 gateway {{ network.gateway }}
 dns-nameservers {{ ' '.join(network.nameservers) }}
 dns-search {{ ' '.join(network.search) }}
{% endif %}

