{{ ansible_managed | comment }}
keys /etc/ntp.keys              # path for keys file
trustedkey 1                    # define trusted keys
requestkey 1                    # key (7) for accessing server variables

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

#
controlkey 1                    # key (6) for accessing server variables
server {{ ntp.servers[0] }} prefer
server {{ ntp.servers[1] }}
server {{ ntp.servers[2] }}

restrict default nomodify notrap noquery
restrict 127.0.0.1

driftfile /var/lib/ntp/ntp.drift
broadcastdelay	0.008
