*~
*.pyc
*.retry
*-imported.yaml
.cache
.coverage
.deploy
__pycache__
coverage.xml
htmlcov
k8s/imports
python_env
results.xml
OBS
# honeypot-ip.py is copied from blacklist image
images/postfix-python/src/honeypot-ip.py
