# Default values for nut-upsd.
deployment:
  env:
    serial: mustbeset
  securityContext:
    privileged: true
  strategy:
    type: Recreate
volumeMounts:
# TODO make this work with pod security policies instead of securityContext
# - name: usb
#   mountpath: /dev/ttyUSB0
- name: secret
  mountPath: /run/secrets/nut-upsd-password
  readOnly: true
  subPath: nut-upsd-password
volumes:
# - name: usb
#   hostPath: { path: /dev/ttyUSB0 }
- name: secret
  secret:
    secretName: nut-upsd-password

image:
  repository: instantlinux/nut-upsd
  pullPolicy: IfNotPresent
  tag: "2.7.4-r8"

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  enabled: true
  name: example-privileged

service:
  ports:
  - port: 3493
    nodePort: 30493
    targetPort: 3493
autoscaling:
  enabled: false
