{{ ansible_managed | comment }}
{% for key, item in nrpe_commands.iteritems()|sort %}
command[check_{{ key }}]={{ '/usr/bin/sudo ' if item.sudo is defined
   and item.sudo else ''}}{{ nagios.local_plugins_path
   if item.local is defined else nagios.system_plugins_path }}/{{ item.plugin
   if item.plugin is defined else 'check_%s' % key }} {{ item.options
   if item.options is defined else '' }}
{% endfor %}
