<Configuration>
  <LocalHostName>{{ LOCALHOSTNAME }}</LocalHostName>
  <Database>
    <PingHost>1</PingHost>
    <Host>{{ DBSERVER }}</Host>
    <UserName>mythtv</UserName>
    <Password>{{ DBPASSWORD }}</Password>
    <DatabaseName>{{ DBNAME }}</DatabaseName>
    <Port>3306</Port>
  </Database>
  <WakeOnLAN>
    <Enabled>0</Enabled>
    <SQLReconnectWaitTime>0</SQLReconnectWaitTime>
    <SQLConnectRetry>5</SQLConnectRetry>
    <Command>echo 'WOLsqlServerCommand not set'</Command>
  </WakeOnLAN>
</Configuration>
