---
- name: Install system packages
  apt:
    name: "{{ item }}"
  with_items: "{{ ubuntu_packages }}"

- name: NTP keys
  template:
    dest: /etc/ntp.keys
    src: ntp.keys.j2
  notify: Restart ntpd
  when: ntp.service.enabled

- name: NTP config
  template:
    dest: /etc/ntp.conf
    src: ntp.conf.j2
  notify: Restart ntpd
  when: ntp.service.enabled

- name: NTP service
  service:
    enabled: "{{ ntp.service.enabled }}"
    name: "{{ ntp.service.name }}"
