# Default values for dhcpd-dns-pxe.
deployment:
  env:
    db_initialize: yes
    db_host: db00
    db_name: kea
    db_user: kea
    dhcp_netbios_name_servers: 192.168.1.50,192.168.1.60
    dhcp_subnet1: 192.168.1.0
    dhcp_subnet1_pool: 192.168.1.8 - 192.168.1.31
    domain: example.com
    dns_server: 192.168.1.40,192.168.1.45
    dns_upstream: 8.8.8.8
    ntp_server: 192.168.1.40,192.168.1.45
    port_dnsmasq_dns: 5353
    subnet1_gateway: 192.168.1.1
    subnet1_interface: br0
    tz: GMT
  xenv:
  - name: POD_NAME
    valueFrom:
      fieldRef:
        fieldPath: metadata.name
  hostNetwork: true
  containerPorts:
  - containerPort: 67
    protocol: UDP
  - containerPort: 68
    protocol: UDP
  - containerPort: 8000
  nodeSelector:
    service.dhcpd-dns-pxe: allow
  replicas: 2
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: app.kubernetes.io/name
            operator: In
            values: [ dhcpd-dns-pxe ]
        topologyKey: kubernetes.io/hostname
volumeMounts:
- mountPath: /tftpboot/pxelinux
  name: share
  readOnly: true
  subPath: dhcpd-dns-pxe/pxelinux
- mountPath: /etc/kea.d/local/reservations.conf
  name: config
  subPath: reservations
- mountPath: /etc/dnsmasq.d/local/hosts
  name: config
  subPath: hosts
- mountPath: /run/secrets/kea-db-password
  name: kea-db-password
  subPath: kea-db-password
volumes:
- name: config
  configMap:
    name: dhcpd-dns-pxe
- name: kea-db-password
  secret:
    secretName: kea-db-password
- name: share
  hostPath: { path: /var/lib/docker/k8s-volumes/share }

image:
  repository: instantlinux/dhcpd-dns-pxe
  pullPolicy: IfNotPresent
  # tag: default

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  enabled: true
  name: example-privileged
service:
  enabled: false

autoscaling:
  enabled: false

configmap:
  name: dhcpd-dns-pxe
  data:
    reservations: |
      host yourhost { hardware ethernet 02:0f:b5:ff:ff:ff; fixed-address 192.168.1.100 }
    hosts: |
      192.168.1.100  yourhost.example.com
