# To generate Pipfile.lock:
#  - docker run --rm -it -v `pwd`:/build python:3.8.8-alpine3.13 sh
#  - apk add gcc musl-dev libffi-dev
#  - pip install pipenv && pipenv lock

[packages]
# alpine provides pre-built wheels for these
alembic = "==1.4.3"
Authlib = "==0.15.3"
boto3 = "==1.16.47"
botocore = "==1.19.47"
cachetools = "==4.1.1"
cffi = "==1.14.4"
pycryptodomex = "==3.9.9"
cryptography = "==3.3.2"
Flask = "==1.1.2"
Flask-Babel = "==2.0.0"
itsdangerous = "==1.1.0"
Pillow = "==8.1.2"
requests = "==2.25.1"

arrow = "*"
b2sdk = "*"
babel = "*"
connexion = "*"
"connexion[swagger-ui]" = "*"
coverage = "*"
docopt = "*"
dollar-ref = "*"
flake8 = "*"
Flask-Cors = "*"
funcsigs = "*"
jsonschema = "*"
mock = "*"
passlib = "*"
PyJWT = "*"
PyMySQL = "*"
pyotp = "*"
python-dateutil = "*"
pytz = "*"
redis = "*"
# held back, alpine doesn't have greenlet 1.0
SQLAlchemy = "==1.3.24"
SQLAlchemy-Utils = "*"
swagger-ui-bundle = "*"
urllib3 = "*"

# Holding back for now, see https://github.com/p1c2u/openapi-spec-validator/issues/114
openapi-spec-validator = "==0.2.9"
