# To generate Pipfile.lock:
#  docker run --rm -it -v `pwd`:/build alpine:3.15 sh
#  apk add python3-dev gcc musl-dev libffi-dev py3-pip py3-pillow
#  pip install pipenv==2020.11.15 && cd /build && pipenv lock --verbose

[packages]
# alpine provides pre-built wheels for these
Authlib = "==0.15.5"
babel = "==2.9.1"
boto3 = "==1.18.49"
botocore = "==1.21.49"
cachetools = "==4.1.1"
cffi = "==1.14.5"
cryptography = "==3.3.2"
Flask = "==2.0.2"
Flask-Babel = "==2.0.0"
greenlet = "==1.1.2"
itsdangerous = "==2.0.1"
packaging = "==20.9"
passlib = "1.7.4"
# Commented out until alpine 3.16
# Pillow = "==8.4.0"
pycryptodomex = "==3.10.1"
python-dateutil = "==2.8.2"
requests = "==2.26.0"

alembic = "*"
arrow = "*"
b2sdk = "*"
celery = "*"
connexion = "==2.7.0"
"connexion[swagger-ui]" = "*"
coverage = "*"
docopt = "*"
dollar-ref = "*"
flake8 = "*"
Flask-Cors = "*"
funcsigs = "*"
jsonschema = "*"
ldap3 = "*"
mock = "*"
PyJWT = "*"
PyMySQL = "*"
pyotp = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytz = "*"
redis = "*"
# Held back due to SAWarnings about many-to-many tables
SQLAlchemy = "<1.4.0"
SQLAlchemy-Utils = "*"
swagger-ui-bundle = "*"
twine = "*"
urllib3 = "*"
wheel = "*"
