# alpine provides pre-built wheels for these
boto3==1.13.15
botocore==1.16.16
cryptography==3.3.2
Flask==1.1.2
itsdangerous==1.1.0
Pillow==7.1.2
pycryptodomex==3.9.8
PyJWT==1.7.1
requests==2.23.0
setuptools==47.0.0
urllib3==1.25.9

alembic==1.4.3
arrow==0.16.0
b2sdk==1.2.0
babel==2.8.0
connexion==2.7.0
coverage==5.3
docopt==0.6.2
dollar-ref==0.1.3
flake8==3.8.3
Flask-Cors==3.0.9
funcsigs==1.0.2
jsonschema==3.2.0
mock==4.0.2
passlib==1.7.4
PyMySQL==0.10.1
# pytest has to be installed inside workspace's virtualenv
# pytest==5.4.1
# pytest-cov==2.9.0
pytz==2020.5
SQLAlchemy==1.3.22
SQLAlchemy-Utils==0.36.8
swagger-ui-bundle==0.0.8

# transitive dependencies
appdirs==1.4.4
attrs==19.3.0
CacheControl==0.12.6
chardet==3.0.4
click==7.1.2
clickclick==1.2.2
colorama==0.4.3
distro==1.5.0
filelock==3.0.12
inflection==0.5.0
Jinja2==2.11.2
lockfile==0.12.2
logfury==0.1.2
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.5.0
msgpack==1.0.0
olefile==0.46
openapi-spec-validator==0.2.9
ordered-set==4.0.1
packaging==20.4
pep517==0.8.2
pluggy==0.13.1
progress==1.5
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
pytoml==0.1.21
PyYAML==5.3.1
retrying==1.3.3
s3transfer==0.3.3
six==1.15.0
toml==0.10.1
tqdm==4.49.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1

# transitive pre-built alpine wheels pinned to pkgs.alpinelinux.org
asn1crypto==1.3.0
certifi==2020.4.5.1
cffi==1.14.0
contextlib2==0.6.0
distlib==0.3.0
docutils==0.15.2
html5lib==1.0.1
idna==2.9
jmespath==0.9.5
virtualenv==20.0.21
