alembic==1.4.0
boto3==1.11.13
botocore==1.14.13
connexion==2.6.0
coverage==5.0.3
cryptography==2.8
docopt==0.6.2
flake8==3.7.9
Flask==1.1.1
Flask-Cors==3.0.8
jsonschema==3.2.0
mock==4.0.1
passlib==1.7.2
pycryptodomex==3.9.6
Pillow==6.2.1
PyJWT==1.7.1
PyMySQL==0.9.3
# pytest has to be installed inside workspace's virtualenv
# pytest==5.2.1
pytest-cov==2.8.1
pytz==2019.3
setuptools==44.0.0
SQLAlchemy==1.3.13
SQLAlchemy-Utils==0.36.1
swagger-ui-bundle==0.0.6
urllib3==1.25.8
