# Created 29-May-17 by richb

[Unit]
Description=Post-startup docker permissions fix
Conflicts=shutdown.target
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "chgrp nagcmd /var/lib/docker/volumes ; chmod g+x /var/lib/docker/volumes"

[Install]
WantedBy=multi-user.target
