# Default values for postfix.
contentFlags: |-
  -o content_filter=spamfilter:dummy
  -o mynetworks=127.0.0.0/24
dhcpSubnet1: 192.168.2.0/24
domain: example.com
hostnameEmail: example.com
# Force reload of certs at least every 30 days
livenessProbe:
  exec:
    command: [ 'false' ]
  initialDelaySeconds: 2592000
localServiceAdditions: |-
  bigdest   unix  -       -       n       -       25       smtp
  spamfilter unix -	  n       n       -       -        pipe
    flags=Rq user=spamfilter argv=/usr/local/bin/spamfilter.sh -f ${sender} -- ${recipient}
messageSizeLimit: "30720000"
nodeportInt: 30425
nodeportExt: 30025
relayDomains: example.com email.example.com
relayHost: smtp.gmail.com:587
aliases: |
  # This is the aliases file - it says who gets mail for whom.
  #
  # >>>>>>>>>>      The program "newaliases" will need to be run
  # >> NOTE >>      after this file is updated for any changes
  # >>>>>>>>>>      to show through to sendmail.
  #

  # It is probably best to not work as user root and redirect all
  # email to "root" to the address of a HUMAN who deals with this
  # system's problems. Then you don't have to check for important
  # email too often on the root account.
  # The "\root" will make sure that email is also delivered to the
  # root-account, but also forwared to the user "joe".
  #root:		joe, \root

  # Basic system aliases that MUST be present.
  postmaster:	root
  mailer-daemon:	postmaster

  # amavis
  virusalert:	root

  # General redirections for pseudo accounts in /etc/passwd.
  administrator:	root
  daemon:		root
  lp:		root
  news:		root
  uucp:		root
  games:		root
  man:		root
  at:		root
  postgres:	root
  mdom:		root
  amanda:		root
  ftp:		root
  wwwrun:		root
  squid:		root
  msql:		root
  gnats:		root
  nobody:		root
  # "bin" used to be in /etc/passwd
  bin:		root

  # Further well-known aliases for dns/news/ftp/mail/fax/web/gnats.
  newsadm:	news
  newsadmin:	news
  usenet:		news
  ftpadm:		ftp
  ftpadmin:	ftp
  ftp-adm:	ftp
  ftp-admin:	ftp
  hostmaster:	root
  mail:		postmaster
  postman:	postmaster
  post_office:	postmaster
  # "abuse" is often used to fight against spam email
  abuse:	postmaster
  spam:		postmaster
  faxadm:	root
  faxmaster:	root
  webmaster:	root
  gnats-admin:	root
  mailman:	root
  mailman-owner:	mailman
transport: |
  example.com	relay:[k8s00.example.com]:3425
virtusertable: |
  admin@example.com	admin@example.com

statefulset:
  env:
    cidr_min_size: "27"
    db_host: db00
    honeypot_addrs: honeypot@example.com
    inbound_relay: 'by mx-caprica.?\\.easydns\\.com'
    spamc_host: 10.101.1.50
    tz: UTC
  containerPorts:
  - containerPort: 25
  - containerPort: 3525
  replicas: 2
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: app.kubernetes.io/name
            operator: In
            values: [ postfix ]
        topologyKey: kubernetes.io/hostname
volumeMounts:
- mountPath: /etc/postfix/postfix.d
  name: config
- mountPath: /var/spool/postfix
  name: spool
- mountPath: /run/secrets/mysql-blacklist-user
  name: mysql-blacklist-user
  subPath: mysql-blacklist-user
- mountPath: /run/secrets/postfix-sasl-passwd
  name: postfix-sasl-passwd
  subPath: postfix-sasl-passwd
- mountPath: /etc/ssl/certs/smtpd-cert.pem
  name: ssl-cert
  subPath: tls.crt
- mountPath: /run/secrets/smtpd-key.pem
  name: ssl-cert
  subPath: tls.key
volumes:
- name: config
  configMap:
    name: postfix
- name: mysql-blacklist-user
  secret:
    secretName: mysql-blacklist-user
- name: postfix-sasl-passwd
  secret:
    secretName: postfix-sasl-passwd
- name: ssl-cert
  secret:
    secretName: tls-snappymail
volumeClaimTemplates:
- metadata:
    name: spool
  spec:
    accessModes: [ ReadWriteOnce ]
    resources:
      requests:
        storage: 8Gi

image:
  repository: instantlinux/postfix-python
  pullPolicy: IfNotPresent
  # tag: default

nameOverride: ""
fullnameOverride: ""

serviceAccount: {}
service:
  ports:
  - { port: 3425, targetPort: 25, name: postfix }
  - { port: 3525, targetPort: 3525, name: external }
  type: ClusterIP
autoscaling:
  enabled: false

# to replace with your own config map, add an override with data
# and set enabled
configmap:
  enabled: false
  name: postfix
  data: {}
