{{- if not .Values.configmap.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "local.fullname" . }}-etc
  labels:
    {{- include "local.labels" . | nindent 4 }}
data:
  dovecot.conf: |
    dovecot_config_version = {{ .Values.version.config }}
    dovecot_storage_version = {{ .Values.version.storage }}
    auth_mechanisms = plain login
    auth_allow_cleartext = no
    mail_access_groups = mail
    protocols = imap
    # mail_location = mbox:~/Mail:INBOX=/var/spool/mail/%u
    mail_driver = mbox
    mail_path = ~/Mail
    mail_inbox_path = /var/spool/mail/%{user}
    mail_debug = no

    first_valid_uid = 300
    passdb ldap {
      driver = ldap
      ldap_uris = {{ .Values.ldap.uris }}
      {{- if .Values.ldap.dn }}
      ldap_dn = {{ .Values.ldap.dn }}
      ldap_dnpass = PASSWORD
      {{- end }}
      ldap_version = {{ .Values.ldap.version }}
      ldap_base = {{ .Values.ldap.base }}
      ldap_bind = {{ .Values.ldap.bind }}
      ldap_filter = {{ .Values.ldap.filter }}
      {{- if .Values.ldap.bind_userdn }}
      ldap_bind_userdn = {{ .Values.ldap.bind_userdn }}
      {{- end }}
      {{- if .Values.ldap.active_directory }}
      ldap_user_attrs = sAMAccountName=home=/home/%$
      ldap_user_filter = (&(ObjectClass=user)(sAMAccountName=%{user}))
      ldap_pass_filter = (&(ObjectClass=user)(sAMAccountName=%{user}))
      {{- end }}
      ldap_starttls = {{ .Values.ldap.tls }}
    }
    userdb passwd {
      use_worker = yes
    }
    service auth {
      user = root
      unix_listener /var/spool/postfix/private/auth {
        mode = 0660
        user = postfix
        group = postfix
      }
    }
    service imap-login {
      inet_listener imaps {
        listen = 0.0.0.0
        port = 993
        ssl = yes
      }
    }
    ssl_min_protocol = TLSv1.2
    ssl_server_cert_file = /etc/ssl/certs/smtpd-cert.pem
    ssl_server_key_file = /etc/ssl/private/smtpd-key.pem
    syslog_facility = "local1"
{{- end }}
