---
# defaults

# If vg has a hyphenated name, double-hyphenate thinpool_vg_alt
thinpool_vg: data01
thinpool_vg_alt: "{{ thinpool_vg }}"

docker_defaults:
  apt_repo:
    key: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    package_name: docker-ce
    package_ver: 5:19.03.4~3-0~ubuntu-bionic
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
    url: https://download.docker.com/linux/ubuntu/gpg
  certs:
    ca_root: ca-root.pem
    path: /root/certs
  compose:
    sha256: acfa66dba77dac9635ff9b195ccea81768eb009ce9c9f1181c000eb95effb963
    version: 1.15.0
  local_volumes: /var/lib/docker/volumes
  thinpool:
    autoextend_percent: 20
    autoextend_threshold: 80
    meta_size: 100
    size: 5000
  options:
    hosts:
    - tcp://0.0.0.0:2376
    - unix:///var/run/docker.sock
    storage-driver: devicemapper
    storage-opts:
    - dm.thinpooldev=/dev/mapper/{{ thinpool_vg_alt }}-thinpool
    - dm.use_deferred_removal=false
    - dm.use_deferred_deletion=false
    tls: True
    tlscacert: /root/certs/ca-root.pem
    tlscert: /root/certs/docker-tls-cert.pem
    tlskey: /root/certs/docker-tls-key.pem
    tlsverify: True

docker_override: {}
docker: "{{ docker_defaults | combine(docker_override, recursive=True) }}"

docker_volumewait: /var/lib/docker

# Set non_stock to True to override your distro's kernel
kernel:
  long_ver: 4.15.0-041500.201802011154
  origin: http://kernel.ubuntu.com/~kernel-ppa/mainline
  short_ver: "041500"
  version: 4.15.0
  non_stock: False

sysctl:
  fs.inotify.max_user_instances: 256
  fs.inotify.max_user_watches: 131072

syslog:
  host: syslog
  port: 514

system_paths:
  ca_certs: /usr/local/share/ca-certificates

system_certs:
  - ca-root.pem
  - registry-cert.pem
  
ubuntu_packages:
  - libpam-google-authenticator
  - python
  - python-pip
  - snmpd
  - thin-provisioning-tools

ubuntu_repo_uri: http://archive.ubuntu.com/ubuntu/

ubuntu_repos:
  - deb {{ ubuntu_repo_uri }} {{ ansible_distribution_release }} main restricted universe multiverse
  - deb {{ ubuntu_repo_uri }} {{ ansible_distribution_release }}-updates main restricted universe multiverse
  - deb {{ ubuntu_repo_uri }} {{ ansible_distribution_release }}-backports main restricted universe multiverse
  - deb {{ ubuntu_repo_uri }} {{ ansible_distribution_release }}-security main restricted universe multiverse

local_package_additions: {}
