{{ ansible_managed | comment }}
[global]
        bind interfaces only = yes
        domain logons = No
        domain master = No
        encrypt passwords = Yes
        interfaces = {{ samba.interfaces | join(' ') }}
        log level = {{ samba.log_level }}
        logon drive = {{ samba.logon_drive }}:
        logon home = \\%L\%U\.9xprofile
        logon path = \\%L\profiles\.msprofile
        map to guest = Bad Password
        netbios name = {{ ansible_hostname }}
        security = user
        server string = {{ ansible_hostname }}--{{ samba.server_string }}
        usershare max shares = 0
        workgroup = {{ samba.workgroup }}
{% if samba.hosts_allow|length %}
        hosts allow = {{ samba.hosts_allow | join(' ') }}
{% endif %}
{% if samba.server_min_protocol|length %}
        server min protocol = {{ samba.server_min_protocol }}
{% endif %}

{% for item in samba.conf %}
include = /etc/samba/conf.d/{{ item | basename }}
{% endfor %}
