#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/mythtv/icons/bomb.png
Name[en_US]=Kill-Mythtv-Backend
Exec=killall -9 mythbackend
Name=Kill-Mythtv-Backend
Icon=/home/mythtv/icons/bomb.png
