#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MythTV Backend Setup
Comment=Used to configure a backend
GenericName=mythtv-setup
Exec=mythtv-setup
Type=Application
Encoding=UTF-8
Icon=mythtv
Categories=GTK;System;Settings
X-AppInstall-Package=mythtv
