---

k8s_kernel_modules: {}

# Generate your own and put in vault
#   encryption_key: any 32-byte string
#   join_token: use kubeadm token create
vault_k8s:
  encryption_key: 01234567890123456789012345678901
  join_token: b0f7b8.8d1767876297d85c

k8s_defaults:
  admin_config: /etc/kubernetes/admin.conf
  apt_repo:
    # TODO use {{ ansible_distribution_release }}
    repo: deb http://apt.kubernetes.io/ kubernetes-xenial main
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
  kubeadm_opts: ''
  local_vols: /var/lib/docker/k8s-volumes
  master: False
  master_ip: "{{ hostvars[groups['k8s_master'][0]]['ansible_default_ipv4']['address'] | default(groups['k8s_master'][0]) }}"
  pod_network: 10.244.0.0/16
  service:
    enabled: yes
    name: kubelet
    state: restarted
  service_network: 10.96.0.0/12
  version: 1.19.4
  cni_version: 0.8.7
k8s_override: {}
k8s: "{{ k8s_defaults | combine(k8s_override) }}"

cri_dockerd:
  version: 0.2.0

sysctl:
  net.bridge.bridge-nf-call-iptables: 1
  vm.swappiness: 0
  
ubuntu_packages:
  - kubeadm={{ k8s.version }}-00
  - kubelet={{ k8s.version }}-00
  - kubernetes-cni={{ k8s.cni_version }}-00

ubuntu_package_additions: []
