---
- name: Check if kubeadm has already run
  stat:
    path: "/etc/kubernetes/pki/ca.key"
  register: kubeadm_ca

- name: Init cluster if needed
  include_tasks: master_init.yml
  run_once: yes
  when: not kubeadm_ca.stat.exists

- name: Get current user
  local_action: command whoami
  become: false
  changed_when: false
  register: username

- name: Generate download name for admin.conf (avoid overwrite)
  set_fact:
    admin_conf_dest: /home/{{ username.stdout }}/.kube/admin.{{
      ansible_date_time.iso8601 }}

- name: Fetch admin.conf
  fetch:
    src: "{{ k8s.admin_config }}"
    dest: "{{ admin_conf_dest }}"
    flat: yes
    mode: 0400

- name: Symlink .kube/admin.conf
  local_action:
    module: file
    src:  "{{ admin_conf_dest }}"
    dest: /home/{{ username.stdout }}/.kube/admin.conf
    state: link

- name: Symlink .kube/config
  local_action:
    module: file
    src:  "{{ admin_conf_dest }}"
    dest: /home/{{ username.stdout }}/.kube/config
    state: link

- name: Set up encryption config in path available to kube-apiserver
  template:
    src: secrets.conf.j2
    dest: /etc/kubernetes/pki/secrets.conf
    mode: 0600

- name: Adjust kube-apiserver config
  lineinfile:
    path: /etc/kubernetes/manifests/kube-apiserver.yaml
    insertafter: etcd-servers=https://127.0.0.1:2379
    line: '    - --experimental-encryption-provider-config=/etc/kubernetes/pki/secrets.conf'
