#! /bin/bash
# This script provides a way to assign node affinity for applications which
# specify a nodeSelector label

# Customize as desired

SUDO="--context=kubernetes-admin@kubernetes"

NODE=kube1.$DOMAIN
kubectl $SUDO label node --overwrite $NODE service.data-sync=allow
kubectl $SUDO label node --overwrite $NODE service.db00=allow
kubectl $SUDO label node --overwrite $NODE service.dc01=allow
kubectl $SUDO label node --overwrite $NODE service.dovecot=allow
kubectl $SUDO label node --overwrite $NODE service.mythtv-backend=allow
kubectl $SUDO label node --overwrite $NODE service.nut-01=allow
kubectl $SUDO label node --overwrite $NODE service.samba-dc=allow
kubectl $SUDO label node --overwrite $NODE service.splunk=allow

NODE=kube2.$DOMAIN
kubectl $SUDO label node --overwrite $NODE service.data-sync=allow
kubectl $SUDO label node --overwrite $NODE service.db00=allow
kubectl $SUDO label node --overwrite $NODE service.dc02=allow
kubectl $SUDO label node --overwrite $NODE service.dovecot=allow
kubectl $SUDO label node --overwrite $NODE service.gitlab=allow
kubectl $SUDO label node --overwrite $NODE service.git-dump=allow
kubectl $SUDO label node --overwrite $NODE service.jira=allow
kubectl $SUDO label node --overwrite $NODE service.mt-daapd=allow
kubectl $SUDO label node --overwrite $NODE service.mysqldump=allow
kubectl $SUDO label node --overwrite $NODE service.nut-02=allow

NODE=kube3.$DOMAIN
kubectl $SUDO label node --overwrite $NODE service.data-sync=allow
kubectl $SUDO label node --overwrite $NODE service.db00=allow
kubectl $SUDO label node --overwrite $NODE service.duplicati=allow
kubectl $SUDO label node --overwrite $NODE service.mythtv-backend=allow
