{{ ansible_managed | comment }}
driftfile /var/lib/kubernetes/kubernetes.drift

{% if 'symmetric_key' in kubernetes %}
keys /etc/kubernetes.keys              # path for keys file
trustedkey 1                    # define trusted keys
requestkey 1                    # key (7) for accessing server variables
controlkey 1                    # key (6) for accessing server variables
{% endif %}

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

{% if 'servers' in kubernetes %}
{% for server in kubernetes.servers %}
server {{ server }} iburst
{% endfor %}
{% endif %}
{% if 'pool' in kubernetes %}
{% for server in kubernetes.pool %}
pool {{ server }} iburst
{% endfor %}
{% endif %}

restrict -4 default kod notrap nomodify nopeer noquery limited
restrict -6 default kod notrap nomodify nopeer noquery limited

{% for item in kubernetes.query_ok %}
restrict {{ item }}
{% endfor %}

#restrict source notrap nomodify noquery
restrict source notrap nomodify
