{{ ansible_managed | comment }}
kind: EncryptionConfig
apiVersion: v1
resources:
- resources:
  - secrets
  providers:
  - aescbc:
      keys:
      - name: key1
        secret: {{ vault_k8s.encryption_key | b64encode }}
  - identity: {}
