<?php
exit;
?>
[db]
type         = mysql
server       = {{ DB_HOST }}
port         = {{ DB_PORT }}
database     = {{ DB_NAME }}
username     = {{ DB_USER }}
password     = {{ DB_PASS }}
[path]
base_url     = /nagiosql/
base_path    = /var/www/nagiosql/
