#! /bin/bash
{{ ansible_managed | comment }}
KEYDIR={{ masterkey.path }}/keys/`hostname -s`
[ -d $KEYDIR ] || mount {{ masterkey.path }}
{% for vol, opts in luks_volumes.iteritems()|sort %}
cryptsetup luksOpen /dev/{{ opts.vg }}/{{ vol }} luks-{{ vol
      }} --key-file $KEYDIR/{{ vol }}
{% endfor %}
for VOL in `grep mapper/luks /etc/fstab | awk {'print $2'}`; do
  mount $VOL
done
umount {{ masterkey.path }}
