{{ ansible_managed | comment }}
options {
    directory "{{ bind9.directory }}";
    dump-file "{{ bind9.dump_file }}";
    managed-keys-directory "{{ bind9.managed_keys_directory }}";
    statistics-file "{{ bind9.statistics_file }}";
    listen-on-v6 { any; };
    allow-query { {{ '; '.join(bind9.allow_query) }}; };
    notify yes;
    allow-transfer { dns_slaves; };
    disable-empty-zone "1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.IP6.ARPA";
    recursion yes;
};

acl dns_slaves {
    {{ '; '.join(bind9.dns_slaves) }};
};
key "TRANSFER" {
    algorithm hmac-md5;
    secret "{{ bind9.transfer_secret }}";
};
{% for ip in bind9.server_ips %}
server {{ ip }} { keys { TRANSFER; }; };
{% endfor %}

logging {
    channel syslog_errors {
        syslog local6;
        severity error;
    };
    category default { syslog_errors; };
    category lame-servers { null; };
};

zone "." in {
	type hint;
	file "/etc/bind/root.hint";
};

zone "localhost" in {
	type master;
	file "/etc/bind/db.local";
};

zone "0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa" IN {
    type master;
    file "/etc/bind/db.127";
};

{% for file in bind9.zone_files %}
include "/etc/bind/{{ file }}";
{% endfor %}
