---
# docker.yml - configure Docker

- name: Directory for registry certs
  file:
    mode: 0700
    path: "{{ docker.certs.path }}"
    state: directory

- name: Docker TLS CA cert
  copy:
    dest: "{{ docker.certs.path }}/{{ docker.certs.ca_root }}"
    mode: 0400
    src: certs/{{ docker.certs.ca_root }}

- name: Docker TLS cert
  copy:
    dest: "{{ docker.certs.path }}/docker-tls-cert.pem"
    mode: 0400
    src: certs/docker-tls-cert.pem

- name: Docker TLS key
  copy:
    content: "{{ vault_cert_keys.docker_tls }}"
    dest: "{{ docker.certs.path }}/docker-tls-key.pem"
    mode: 0400

- name: Registry SSL cert
  copy:
    dest: "{{ docker.certs.path }}/domain.crt"
    mode: 0400
    src: certs/registry-cert.pem

- name: Registry SSL key
  copy:
    dest: "{{ docker.certs.path }}/domain.key"
    content: "{{ vault_cert_keys.registry }}"
    mode: 0400

- name: Also add registry SSL cert to system's trusted CA root
  copy:
    dest: "{{ system_paths.ca_certs }}/docker-local.crt"
    mode: 0400
    src: certs/registry-cert.pem
  notify: Update CA certificates

- name: Thin pool create
  lvol:
    lv: thinpool
    shrink: False
    size: "{{ docker.thinpool.size }}"
    vg: "{{ vg }}"

- name: Thin pool meta
  lvol:
    lv: thinpoolmeta
    vg: "{{ vg }}"
    size: "{{ docker.thinpool.meta_size }}"

- name: Convert thinpool
  command: >
    lvconvert -y --zero n -c 512K --thinpool {{ vg }}/thinpool
      --poolmetadata {{ vg }}/thinpoolmeta
  args:
    creates: /dev/mapper/{{ vg }}-thinpool_tdata

- name: LVM profile path
  file:
    path: /etc/lvm/profile
    state: directory

- name: Define thinpool autoextend
  template:
    dest: /etc/lvm/profile/{{ vg }}-thinpool.profile
    src: thinpool.profile.j2
  notify: Activate thinpool autoextend

- name: Docker repo key
  apt_key:
    id: "{{ docker.apt_repo.key }}"
    url: "{{ docker.apt_repo.url }}"

- name: Docker repo
  apt_repository:
    filename: docker
    repo: "{{ docker.apt_repo.repo }}"

- name: Temporarily disable systemctl start
  copy:
    content: "#/bin/sh\necho Disabled by ansible: systemctl start\nexit 101\n"
    dest: /usr/sbin/policy-rc.d
  changed_when: False

- name: Docker engine package
  apt:
    name: "{{ docker.apt_repo.package_name }}"
    update_cache: yes

- name: Docker options
  copy:
    content: "{{ docker.options|to_nice_json }}"
    dest: /etc/docker/daemon.json
  notify: Restart docker

- name: Deal with conflicting systemd-unit option if present
  lineinfile:
    line: ExecStart=/usr/bin/dockerd
    path: /lib/systemd/system/docker.service
    regexp: "ExecStart=.*"
  ignore_errors: True
  notify: Reload systemd

- name: Systemd unit file for enabling /var/lib/docker/volumes monitoring
  copy:
    dest: /etc/systemd/system/docker-permissions.service
    src: docker-permissions.service

- name: Systemd unit file for post-startup docker commands
  copy:
    dest: /etc/systemd/system/docker-local@.service
    src: docker-local@.service

# TODO parse fstab seeking last luks line

- name: Add RequiresMountsFor to docker.service
  replace:
    dest: /lib/systemd/system/docker.service
    regexp: "^Requires=docker.socket$"
    replace: >
      Requires=docker.socket # Next line added by Ansible
      \nRequiresMountsFor=/var/lib/docker/share/user

- name: Reenable systemctl start
  file:
    path: /usr/sbin/policy-rc.d
    state: absent
  changed_when: False

- name: docker-nonat script for MythTV
  copy:
    dest: /usr/local/bin/docker-nonat.sh
    mode: 0755
    src: docker-nonat.sh

- name: Enable docker-permissions.service
  systemd:
    enabled: yes
    name: docker-permissions

- name: Download docker-compose
  get_url:
    checksum: sha256:{{ docker.compose.sha256 }}
    dest: /usr/local/bin/docker-compose
    mode: 0755
    url: https://github.com/docker/compose/releases/download/{{
      docker.compose.version }}/docker-compose-Linux-x86_64

- name: Docker service
  service:
    name: docker
    state: started
