---
# docker.yml - configure Docker

- name: Directory for registry certs
  file:
    mode: 0700
    path: "{{ docker.certs.path }}"
    state: directory

- name: Docker TLS CA cert
  copy:
    dest: "{{ docker.certs.path }}/{{ docker.certs.ca_root }}"
    mode: 0400
    src: certs/{{ docker.certs.ca_root }}

- name: Docker TLS cert
  copy:
    dest: "{{ docker.certs.path }}/docker-tls-cert.pem"
    mode: 0400
    src: certs/docker-tls-cert.pem

- name: Docker TLS key
  copy:
    content: "{{ vault_cert_keys.docker_tls }}"
    dest: "{{ docker.certs.path }}/docker-tls-key.pem"
    mode: 0400

- name: Registry SSL cert
  copy:
    dest: "{{ docker.certs.path }}/domain.crt"
    mode: 0400
    src: certs/registry-cert.pem

- name: Registry SSL key
  copy:
    dest: "{{ docker.certs.path }}/domain.key"
    content: "{{ vault_cert_keys.registry }}"
    mode: 0400

- name: Add trusted root certificate(s)
  copy:
    dest: "{{ system_paths.ca_certs }}/docker-{{ item.strip('.pem') }}.crt"
    mode: 0400
    src: certs/{{ item }}
  with_items: "{{ system_certs }}"
  notify: Update CA certificates

- name: Update CA certs
  command: update-ca-certificates
  changed_when: False

- name: Thin pool create
  lvol:
    lv: thinpool
    shrink: False
    size: "{{ docker.thinpool.size }}"
    vg: "{{ thinpool_vg }}"

- name: Thin pool meta
  lvol:
    lv: thinpoolmeta
    vg: "{{ thinpool_vg }}"
    size: "{{ docker.thinpool.meta_size }}"

- name: Convert thinpool
  command: >
    lvconvert -y --zero n -c 512K --thinpool {{ thinpool_vg }}/thinpool
      --poolmetadata {{ thinpool_vg }}/thinpoolmeta
  args:
    creates: /dev/mapper/{{ thinpool_vg }}-thinpool_tdata

- name: LVM profile path
  file:
    path: /etc/lvm/profile
    state: directory

- name: Define thinpool autoextend
  template:
    dest: /etc/lvm/profile/{{ thinpool_vg }}-thinpool.profile
    src: thinpool.profile.j2
  notify: Activate thinpool autoextend

- name: Initiate thinpool autoextend
  shell: >
    lvchange --metadataprofile {{ thinpool_vg }}-thinpool {{ thinpool_vg }}/thinpool &&
    lvs -o+seg_monitor
  changed_when: False

- name: Docker repo key
  apt_key:
    id: "{{ docker.apt_repo.key }}"
    url: "{{ docker.apt_repo.url }}"

- name: Docker repo
  apt_repository:
    filename: docker
    repo: "{{ docker.apt_repo.repo }}"

# The Ubuntu package installer defines ExecStart option that conflicts
# with our daemon.json. Need to suppress daemon startup until after
# the ExecStart option is updated via lineinfile below. Note:
# changed_when feature of ansible merely keeps these toggle actions
# out of play-recap change list.

- name: Temporarily disable systemctl start - policy-rc
  copy:
    content: "#/bin/sh\necho Disabled by ansible: systemctl start\nexit 101\n"
    dest: /usr/sbin/policy-rc.d
    mode: 0755
  changed_when: False

- name: Temporarily disable systemctl start - mask docker.service
  file:
    dest: /etc/systemd/system/docker.service
    src: /dev/null
    state: link
  changed_when: False

- name: Reload systemd
  systemd:
    daemon_reload: yes
  changed_when: False

- name: Docker engine package
  apt:
    name: "{{ docker.apt_repo.package_name }}"
    update_cache: yes

- name: Options directory
  file:
    dest: /etc/docker
    state: directory

- name: Docker options
  copy:
    content: "{{ docker.options|to_nice_json }}"
    dest: /etc/docker/daemon.json
  notify: Restart docker

- name: Deal with conflicting systemd-unit option if present
  lineinfile:
    line: ExecStart=/usr/bin/dockerd
    path: /lib/systemd/system/docker.service
    regexp: "^ExecStart=.*"
  notify: Reload systemd

- name: Systemd unit file for enabling /var/lib/docker/volumes monitoring
  copy:
    dest: /etc/systemd/system/docker-permissions.service
    src: docker-permissions.service

# TODO parse fstab seeking last luks line

- name: Add RequiresMountsFor to docker.service
  replace:
    dest: /lib/systemd/system/docker.service
    regexp: "^Requires=docker.socket$"
    replace: >
      Requires=docker.socket 
      \n# Added by Ansible
      \nRequiresMountsFor={{ docker_volumewait }}

- name: Reenable systemctl start
  file:
    path: /usr/sbin/policy-rc.d
    state: absent
  changed_when: False

- name: Unmask docker.service
  file:
    dest: /etc/systemd/system/docker.service
    state: absent
  changed_when: False

- name: Reload systemd again
  systemd:
    daemon_reload: yes
  changed_when: False

- name: Enable docker.service
  systemd:
    enabled: yes
    name: docker

- name: Enable docker-permissions.service
  systemd:
    enabled: yes
    name: docker-permissions

- name: Download docker-compose
  get_url:
    checksum: sha256:{{ docker.compose.sha256 }}
    dest: /usr/local/bin/docker-compose
    mode: 0755
    url: https://github.com/docker/compose/releases/download/{{
      docker.compose.version }}/docker-compose-Linux-x86_64

- name: Sysctl tuning parameters
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    sysctl_set: yes
  with_dict: "{{ sysctl }}"

- name: Docker service
  service:
    name: docker
    state: started
