[global]
   logon drive = {{ LOGON_DRIVE }}:
   netbios name = {{ NETBIOS_NAME }}
   server string = {{ SERVER_STRING }}
   workgroup = {{ WORKGROUP }}

   dns proxy = no 
   domain master = no
   security = user
