[global]
   domain logons = {{ DOMAIN_LOGONS }}
   logon drive = {{ LOGON_DRIVE }}:
   netbios name = {{ NETBIOS_NAME }}
   server string = {{ SERVER_STRING }}
   workgroup = {{ WORKGROUP }}

   dns proxy = no 
   domain master = no
   encrypt passwords = yes
   security = user
