[defaults]
managed_str = This file is managed by Ansible.%n
  template: {file}
  date: %Y-%m-%d %H:%M:%S
  user: {uid}
  host: {host}
callback_whitelist = profile_tasks
interpreter_python = /usr/bin/python3
inventory = ./hosts
remote_user = ubuntu

[ssh_connection]
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
pipelining = True
