# Note -- if container won't start because password hasn't been set, create
#  a user-seed.conf in mounted volume. Details are found at:
#  http://docs.splunk.com/Documentation/Splunk/latest/Admin/user-seedconf
#
# The free version of splunk does not have login splash page. Included here are
#  ingress definitions that define basic-auth and TOTP. Add a k8s secret
#  named splunk-auth containing a key named auth. See this URL:
#  https://github.com/kubernetes/ingress-nginx/blob/master/docs/examples/auth/basic/README.md

apiVersion: v2
name: splunk
description: Splunk Enterprise (free up to 500Mb/day)
home: https://github.com/instantlinux/docker-tools
sources:
- https://github.com/instantlinux/docker-tools
- https://hub.docker.com/r/splunk/splunk
type: application
version: 0.1.1
appVersion: "8.2.3"
dependencies:
- name: chartlib
  version: 0.1.7
  repository: https://instantlinux.github.io/docker-tools
