[Unit]
Description=Activate crypt volumes
Conflicts=shutdown.target
Wants=network-online.target
After=local-fs.target snmpd.service network.target network-online.target
ConditionPathExists=/etc/fstab
Before=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/crypt-activate.sh

[Install]
WantedBy=multi-user.target
