# Default values for nextcloud.

autheliaIP: 10.101.1.5
db:
  host: db00
  name: nextcloud
  user: nextcloud
fqdn: cloud.example.com
instanceID: ocM236tYg4pX
loglevel: 2
mailHost: smtp
passwordSalt: CkEFy/t4IpPhjJoem3NRdPt/UD8gOS
redis:
  port: 6379
  tag: 6.2.4-alpine
# TODO: remove, versionPrev is (finally!) unneeded
versionPrev: 25.0.3.2

deployment:
  command: [/bin/bash]
  args:
  - -c
  - >
    set -x &&
    usermod -a -G users www-data &&
    umask 002 &&
    cp /var/www/html/config/config.php.k8s \
      /var/www/html/config/config.php &&
    chown www-data /var/www/html/config/config.php &&
    exec /entrypoint.sh apache2-foreground
  env:
    # Note - since v30.0, updates finally happen automatically upon image-tag
    # up-rev, without having to fiddle with this stupid variable
    nextcloud_update: "0"
    redis_host: nextcloud-redis
    tz: UTC
  xenv:
  - name: DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: nextcloud-db-password
        key: nextcloud-db-password
  - name: SECRET
    valueFrom:
      secretKeyRef:
        name: nextcloud-secret
        key: nextcloud-secret
  resources:
    limits:
      memory: 6144Mi
    requests:
      cpu: 100m
      memory: 768Mi

volumeMounts:
- mountPath: /var/www/html
  name: synced
  subPath: html
- mountPath: /var/www/html/data/nextcloud.log
  name: synced
  subPath: html/data/nextcloud.log
- name: config
  mountPath: /var/www/html/config/config.php.k8s
  subPath: config.php
- mountPath: /var/www/html/data
  name: pictures
  subPath: nextcloud
volumes:
- name: config
  configMap:
    name: nextcloud
- name: synced
  hostPath: { path: /var/lib/docker/k8s-volumes/cloud }
- name: pictures
  persistentVolumeClaim:
    claimName: pictures

image:
  repository: nextcloud
  pullPolicy: IfNotPresent
  # tag: default

nameOverride: ""
fullnameOverride: ""

serviceAccount: {}
service:
  clusterIP: None
  ports: [ port: 80 ]
  type: ClusterIP

ingress:
  enabled: true
  className: ""
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/client-body-buffer-size: 1280m
    nginx.ingress.kubernetes.io/enable-access-log: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: 1280m
    nginx.ingress.kubernetes.io/configuration-snippet: |
      fastcgi_buffers 32 32K;
      fastcgi_buffer_size 32K;
      fastcgi_max_temp_file_size 0;
      fastcgi_read_timeout 240;
      add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
  rules:
  - host: nextcloud.example.com
    http:
      paths:
      - path: /
        backend:
          service:
            name: nextcloud
            port:
              number: 80
        pathType: Prefix
  tls:
  - hosts:
    - nextcloud.example.com
    secretName: nextcloud.example.com

autoscaling:
  enabled: false
