# Default values for etcd.
statefulset:
  # Starting with version 3.5, public discovery service isn't available
  # You must set a value for etcd_initial_cluster using an
  # overrides file, with the fqdn hostname of each worker node
  #
  #    statefulset:
  #      env:
  #        etcd_initial_cluster: >
  #          etcd-0=http://<fqdn-1>:2380,
  #          etcd-1=http://<fqdn-2>:2380,
  #          etcd-2=http://<fqdn-3>:2380
  command: [ /usr/local/bin/etcd ]
  containerPorts:
  - { containerPort: 2379 }
  - { containerPort: 2380 }
  xenv:
    # If you have a private discovery service, generate the secret:
    #   curl -s https://<discovery server>/new?size=3|base64
    #   make secrets/etcd-token.yml
    #   # use next command to copy/paste new secret into yml file as
    #   # data key 'discovery'
    #   sops secrets/etcd-token.yml
    #   make secrets/etcd-token
    # Override xenv to include the DISCOVERY secret (as below)
    # To update the secret, re-run the curl command and then:
    #   sops secrets/etcd-token.yml
    #   kubectl delete secret etcd-token
    #   make secrets/etcd-token

    - name: ETCD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    # TODO use pod DNS name when coredns working reliably
    #  (this requires running with hostNetwork: true)
    - name: NODENAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    - name: ETCD_ADVERTISE_CLIENT_URLS
      value: "http://$(NODENAME):2379"
    - name: ETCD_INITIAL_ADVERTISE_PEER_URLS
      value: "http://$(NODENAME):2380"

    # - name: DISCOVERY
    #   valueFrom:
    #     secretKeyRef:
    #       key: discovery
    #       name: etcd-token
  env:
    etcdctl_api: "2"
    etcd_data_dir: /var/lib/etcd
    etcd_enable_v2: "true"
    etcd_initial_cluster: ""
    etcd_listen_client_urls: "http://0.0.0.0:2379"
    etcd_listen_peer_urls: "http://0.0.0.0:2380"
  hostNetwork: true
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: app.kubernetes.io/name
            operator: In
            values: [ etcd ]
          - key: app.kubernetes.io/instance
            operator: In
            values: [ etcd ]
        topologyKey: kubernetes.io/hostname
  replicas: 3
  resources:
    limits:
      memory: 768Mi
    requests:
      cpu: 100m
      memory: 128Mi
volumeMounts:
- mountPath: /var/lib/etcd
  name: data
volumeClaimTemplates:
- metadata:
    name: data
  spec:
    accessModes: [ ReadWriteOnce ]
    resources:
      requests:
        storage: 50Mi

image:
  repository: quay.io/coreos/etcd
  pullPolicy: IfNotPresent
  # tag: default

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  enabled: true
  name: example-privileged
service:
  clusterIP: 10.101.1.19
  ports: [ port: 2379 ]
  type: ClusterIP
autoscaling:
  enabled: false
