# Top-level my.cnf - to customize, mount volume /etc/mysql and add settings
# under my.cnf.d
[mysqld]
user				= mysql
bind_address			= 0.0.0.0
datadir				= /var/lib/mysql
pid_file			= /var/lib/mysql/mysql.pid
socket                          = /dev/shm/mysqld.sock

default_storage_engine		= InnoDB
query_cache_size 		= 0
query_cache_type 		= 0
slave_connections_needed_for_purge = 0

innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT

[client]
socket		= /dev/shm/mysqld.sock

!includedir /etc/mysql/my.cnf.d
!include /etc/wsrep.cnf
