[mysqld]
wsrep_log_conflicts
wsrep_on			= ON
wsrep_provider			= /usr/lib/libgalera_smm.so
wsrep_slave_threads             = 8
wsrep_sst_method		= mariabackup

# Galera requires change for InnoDB autoincrement locks
innodb_autoinc_lock_mode        = 2

# Galera requires binlog format ROW
binlog_format                   = ROW
