[mysqld]
wsrep_log_conflicts
wsrep_on			= ON
wsrep_provider			= /usr/lib/libgalera_smm.so
wsrep_slave_threads             = 8
wsrep_sst_auth			= "user:pw"
# TODO: change method to xtrabackup-v2 when it supports 10.2
wsrep_sst_method		= rsync

# This changes how InnoDB autoincrement locks are managed and is a requirement for Galera
innodb_autoinc_lock_mode        = 2

# In order for Galera to work correctly binlog format should be ROW
binlog_format                   = ROW
