{{ ansible_managed | comment }}
Section "Screen"
    Identifier    "Default Screen"
    Monitor       "Configured Monitor"
    Device        "Configured Video Device"
    DefaultDepth  24
    SubSection "Display"
        Depth     24
        Modes     "{{ display_driver.screen.modes | join('\" \"') }}"
    EndSubSection
EndSection 
