{{ ansible_managed | comment }}
[Compositing]
OpenGLIsUnsafe=false

[Desktops]
Number=1

[Plugins]
blurEnabled=false
contrastEnabled=false
kwin4_effect_dialogparentEnabled=false
kwin4_effect_fadeEnabled=false
kwin4_effect_maximizeEnabled=false
kwin4_effect_translucencyEnabled=false
kwin4_effect_windowapertureEnabled=false
minimizeanimationEnabled=false
screenedgeEnabled=false
slidingpopupsEnabled=false
zoomEnabled=false
