{{ ansible_managed | comment }}
[Desktop Entry]
Categories=GNOME;GTK;AudioVideo;Audio;Video;
Comment[en_US]=A frontend for all content on a mythtv-backend
Comment=A frontend for all content on a mythtv-backend
Exec=mythfrontend --service
GenericName[en_US]=MythTV Viewer
GenericName=MythTV Viewer
Icon=mythtv
MimeType=
Name[en_US]=MythTV Frontend
Name=MythTV Frontend
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-AppInstall-Package=mythtv
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
