{{ ansible_managed | comment }}
[Autologin]
Relogin=false
Session=plasma.desktop
User=mythtv

[General]
HaltCommand=
RebootCommand=

[Theme]
Current=breeze
CursorTheme=breeze_cursors

[Users]
MaximumUid=65000
MinimumUid=1000
