#! /bin/bash
{{ ansible_managed | comment }}

# Clear any previous setting, then assert new wakeup time
echo 0 > /sys/class/rtc/rtc0/wakealarm
echo `date +%s -d "$1"` > /sys/class/rtc/rtc0/wakealarm
logger -p local1.info "`basename $0`: alarm set to `echo \`grep alrm /proc/driver/rtc|cut -f 2-4 -d:\`` (UTC)"
sleep 2
systemctl suspend
logger -p local1.info "`basename $0`: waking up"
