# To generate Pipfile.lock:
#  docker run --rm -it -v `pwd`:/build alpine:3.18 sh
#  apk add python3-dev gcc musl-dev libffi-dev py3-pip # py3-flask
#  pip install pipenv==2023.7.23 && cd /build && pipenv lock

[packages]
# alpine provides pre-built wheels for these
# loads of breaking changes in 1.2
Authlib = "<1.0.0"
babel = "==2.12.1"
boto3 = "==1.26.132"
botocore = "==1.29.132"
cachetools = "==5.3.0"
cffi = "==1.15.1"
## edge repo
cryptography = "==41.0.3"
## too old, has a CVE
# Flask = "==2.2.3"
Flask = "<2.3.0"
## can't get this version to work, localeselector problem
Flask-Babel = "<3.0.0"
greenlet = "==2.0.2"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.2"
ldap3 = "==2.9.1"
packaging = "==23.1"
passlib = "1.7.4"
Pillow = "==9.5.0"
pycryptodomex = "==3.17"
python-dateutil = "==2.8.2"
requests = "==2.31.0"
uwsgi = "==2.0.22"
werkzeug = "==2.2.3"

alembic = "*"
b2sdk = "*"
celery = "*"
connexion = "*"
"connexion[swagger-ui]" = "*"
docopt = "*"
dollar-ref = "*"
Flask-Cors = "*"
flower = "*"
PyJWT = "*"
PyMySQL = "*"
pyotp = "*"
pytz = "*"
redis = "*"
SQLAlchemy = "<1.4.0"
SQLAlchemy-Utils = "*"
swagger-ui-bundle = "*"
urllib3 = "*"

# Transitive dependencies
# for jsonschema-spec 0.2.3
referencing = "<0.30.0"
